header
{
    color: #a7cccc;
    background: #1c1c1c;
    padding: 2%;
    position: sticky;
    margin: 0;
    top: 0;
    z-index:2;
    text-align : center;
}

.logo-cover
{
    width: 16%;
    box-shadow: 8px 8px 8px black; /* ombre */
}

body
{
    background: #1c1c1c;
    color: #e6e6e6;
    z-index:1;
    font-family: Arial;
    padding-bottom: 20%;
}

.conteneurPrincipal
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10%;
    margin-top: 1%;
}

.paulinePresentation
{
    width: 40%;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 40%;
    align-self: flex-start;
    text-align: justify;
}

.paulinePresentation h2
{
    color: #F8E08E;
    text-align: left;
}

.mail
{
    color: #D29F13;
}


.listOfPodcasts
{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1%;
}

.listOfPodcasts h3
{
    color: #F8E08E;
    margin: 0;
}

.listOfPodcasts a
{
    color: #F8E08E;
    text-decoration: none;
    margin: 0;
}

time
{
    color: #333333;
}

.horizontalLineForSeparatePodcasts
{
    border-bottom: 2px solid #333333;
    display: block;
}

.vertical-line
{
    border-left: 4px solid #333333;
    display: block;
    margin: 1%;
}

audio
{
    margin: auto;
    margin-top: 1%;
    width: 100%;
}

.podcastDescription_hide
{
    text-align: justify;
    height: 75px;
    overflow: hidden;
    cursor: pointer;
    /* Set gradient couleur sur police (effet disrition text) */
    background: -webkit-linear-gradient(#e6e6e6, #1c1c1c);
    -webkit-background-clip: text;
    color: transparent;
}

.podcastDescription_show
{
    height: auto;
    text-align: justify;
    cursor: pointer;
}

/* règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
    .logo-cover
    {
        width: 40%;
        box-shadow: 8px 8px 8px black; /* ombre */
    }
    .conteneurPrincipal
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .paulinePresentation
    {
        width: auto;
        position: relative;
    }
    
    .listOfPodcasts
    {
        width: auto;
    }
}
