header
{
    color: #F8E08E;
    background: #1c1c1c;
    padding-left: 20%;
    padding-right: 20%;
}

.logo-cover
{
    width: 20%;
    box-shadow: 8px 8px 8px black; /* ombre */
}

body
{
    background: #1c1c1c;
    color: #e6e6e6;
    font-family: Arial;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
}

p
{
    text-align: justify;
}

body h4
{
    color: #F8E08E;
}

body h3
{
    color: #e6e6e6;
}

#conteneurPrincipal
{
    display: flex;
    flex-direction: row;
}


.element1
{
    padding-right: 5%;
    max-width: 50%;
}

.horizontalLine
{
    border-bottom: 2px solid #333333;
    display: block;
    padding-top: 1%;
}

time
{
    color: #333333;
}

.audio
{
    width: 100%;
}

/* règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
    body
    {
        padding-left: 2%;
        padding-right: 2%;
    }
    
    #conteneurPrincipal
    {
        display: flex;
        flex-direction: column;
    }
    
    .element1
    {
        max-width: 100%;
        padding-right: 0%;
    }
    
    header
    {
        color: #F8E08E;
        background: #1c1c1c;
        padding-left: 0%;
        padding-right: 0%;
    }
}
